main#login {
    padding: 30px 0;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 30px;
        width: 40vw;
        padding: 30px;
        border: 1px solid #59320f50;
        border-radius: 15px;

        h1 {
            color: #59320F;
            text-align: center;
        }

        .botao {
            height: 35px;

            &:hover {
                background-color: #A60303;
            }
        }

        #link-register {
            color: #59320F;
            text-align: center;

            &:hover {
                color: #A60303;
            }
        }
    }
}