main#home-admin {
    padding: 0 30px 30px 30px ;
    min-height: 90vh;

    #users {
        height: 100%;
        width: 100%;

        h1 {
            color: #59320F;
            text-align: center;
        }

        #users-table {
            width: 100%;
        }
    }
}