#no-content {
    width: 100%;
    height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    border: 1px solid #59320f50;

    p {
        color: #59320F;
        font-size: 1.2rem;
        text-align: center;
    }
}