main#user-register {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .side-image {
        width: 50%;
        height: 100vh;

        #image {
            display: inline-block;
            width: 100%;
            height: 100%;
        }
    }

    form {
        display: flex;
        flex-direction: column;
        gap: 30px;
        width: 50%;
        height: 70%;
        padding: 30px;
        border: 1px solid;
        border-radius: 15px;

        h1 {
            color: #59320F;
            text-align: center;
        }

        .form-container {
            display: flex;
            flex-direction: row;
            gap: 20px;

            .division {
                width: 50%;
                display: flex;
                flex-direction: column;
                gap: 20px;
            }
        }

        .botao {
            height: 35px;
            
            &:hover {
                background-color: #A60303;
            }
        }

        #link-login {
            color: #59320F;
            text-align: center;

            &:hover {
                color: #A60303;
            }
        }
    }
}