main#user-register {
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 30px;

    .side-image {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50%;
        max-height: 100vh;

        .image {
            display: inline-block;
            width: 100%;
            height: 90vh;
        }
    }

    form {
        display: flex;
        flex-direction: column;
        gap: 30px;
        width: 50%;
        padding: 30px;
        border-radius: 15px;
        border: 1px solid #59320f50;

        h1 {
            color: #59320F;
            text-align: center;
        }

        .form-container {
            display: flex;
            flex-direction: row;
            gap: 20px;

            .division {
                width: 50%;
                display: flex;
                flex-direction: column;
                gap: 20px;
            }
        }

        .botao {
            height: 35px;
            
            &:hover {
                background-color: #A60303;
            }
        }

        #link-login {
            color: #59320F;
            text-align: center;

            &:hover {
                color: #A60303;
            }
        }
    }
}

// Media Queries
@media screen and (max-width: 1200px) {
    main#user-register {
        padding: 30px 0;
        flex-direction: column;
    
        .side-image {
            display: none;
        }
    
        form {    
            width: 80%;

            .form-container {
                gap: 30px;
                flex-direction: column;
    
                .division {
                    gap: 30px;
                    width: 100%;
                }
            }
        }
    } 
}

@media screen and (max-width: 480px) {
    main#user-register {
        padding: 30px 20px;
    
        form {    
            width: 100%;
        }
    } 
}